/* Nav */
#connexion-btn:hover {
  background-color: transparent;
    color: #f8f9fa;
    border-color: #f8f9fa;
}

#navbar-content {
  display: flex;
  justify-content: space-between;
}


#navbar-left-part {
  display: flex;
}
#navbar-center-part {
  display: flex;
}

#search-bar {
  min-width: 180%;
}

#navbar-right-part {
  display: flex;
  justify-content: space-between;
}


/* Articles */
.titles {
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.modal {
  top: 20%;
}